.imageStyle {
  width: 40px;
  text-align: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  margin: auto;
}
.buttonStyle {
  border: 1px solid violet;
  height: 30px;
  border-radius: 22px;
  background: white;
}
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin: 16px;
}
.mainCardStyle {
  margin-left: 84px;
  margin-right: 84px;
  padding: 40px;
}
.mainCategoryStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
