.mainContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.firstBox {
  display: flex;
  gap: 10px;
  height: 55px;
}
.firstChild {
  border-radius: 10px;
  width: 300px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px gray;
}
.secondBox {
  display: flex;
  gap: 10px;
  height: 55px;
  margin-top: 15px;
}
.secondChild {
  border-radius: 10px;
  width: 300px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px gray;
}
.midimgStyle {
  width: 210px;
}
